#section1 .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition-duration: 0.4s;
  }
  
  #section1 .carousel-item img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  #section1 .carousel-item::before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  #section1 {
    position: relative;
    overflow: hidden;
    height: 400px; /* Adjust height as needed */
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px; /* Adjust as needed */
}

.carousel-control.next {
    right: 10px; /* Adjust as needed */
}
.leRotateSkateOutTop span { animation-name: leRotateSkateOutTop }
@keyframes leRotateSkateOutTop {
    to {
        transform: scaleY(0.2) translateY(-100px);
        opacity: 0;
    }
}